<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link href="stylesheets/swiper-3.4.2.min.css" rel="stylesheet" />
	<link href="stylesheets/animate.css" rel="stylesheet" />
	<link rel="stylesheet" href="/stylesheets/showNewsStyle.css">
	<script src="./javascripts/iscroll.js" type="text/javascript"></script>
	<script src="./javascripts/jquery.min.js" type="text/javascript"></script>
	<script src="./javascripts/swiper-3.4.2.min.js"></script>
	<script src="/javascripts/showNews.js" type="text/javascript"></script>
</head>
<body>
	<div class="header">
		<div class="top clearFix">
			<a class="top-left" href="javascript:;" ></a>
			<a class="top-left login" href="/users/login" ></a>
			<a class="top-right" href="javascript:;" ></a>
			<a class="top-right" href="javascript:;" ></a>
			<div class="quit">
		  		<p>您确定要退出吗？</p>
		  	    <div class="quit-btn">
			        <button type="button" class="cancel">取消</button>
			        <button type="button" class="affirmDel">确定</button>
		      	</div>
			</div>
		</div>
		<div class="nav clearFix" id="nav">
			<ul class="clearFix nav-ul" id="nav-ul">
				<li><a class="on" href="javascript:;">推荐</a></li>
				<li><a href="javascript:;">百家</a></li>
				<li><a href="javascript:;">本地</a></li>
				<li><a href="javascript:;">图片</a></li>
				<li><a href="javascript:;">娱乐</a></li>
				<li><a href="javascript:;">社会</a></li>
				<li><a href="javascript:;">军事</a></li>
				<li><a href="javascript:;">互联网</a></li>
				<li><a href="javascript:;">推荐</a></li>
				<li><a href="javascript:;">百家</a></li>
				<li><a href="javascript:;">本地</a></li>
				<li><a href="javascript:;">图片</a></li>
				<li><a href="javascript:;">娱乐</a></li>
				<li><a href="javascript:;">社会</a></li>
				<li><a href="javascript:;">军事</a></li>
				<li><a href="javascript:;">互联网</a></li>
			</ul>
			<p class="nav-p" id="nav-p"><a href="javascript:;"></a></p>
		</div>
	</div>

	<div class="swiper-container">
    	<div class="swiper-wrapper ">
        	<div class="swiper-slide">
        		<img src="/images/7.jpg" alt="">
				<p>减肥的垃圾分类</p>
        	</div>
        	<div class="swiper-slide">
        		<img src="/images/8.jpg" alt="">
				<p>减肥我无法分类</p>
        	</div>
        	<div class="swiper-slide">
        		<img src="/images/7.jpg" alt="">
				<p>减肥的垃圾分类</p>
        	</div>
        	<div class="swiper-slide">
        		<img src="/images/8.jpg" alt="">
				<p>减肥我无法分类</p>
        	</div>
        </div>
        
        <div class="swiper-pagination" id="swiper-pagination"></div>
    </div>
	<!-- <div class="box">
		<ul>
			<li class="swiper-slide">
				<img src="/images/7.jpg" alt="">
				<p>减肥的垃圾分类</p>
			</li>
			<li class="swiper-slide">
				<img src="/images/8.jpg" alt="">
				<p>减肥我无法分类</p>
			</li>
		</ul>
		<div class="btn clearFix">
			<span class='on'></span>
			<span></span>
		</div>
	</div> -->





	<div class="tit">啦啦解放垃圾发链接俺放假</div>
	<div class="content">
		<ul class="content-ul">			
		</ul>
	</div>
</body>
</html>